<div class="container bg-image">
  <div class="col-md-12">
    <div class="col-md-6">
      <a href="bills/new"><button class="float-left"><h1>Pay Bill</h1></button></a>
    </div>
    <div class="col-md-6">
      <a href="home/result"><button class="float-right"><h1>Pay Loan</h1></button></a>
    </div>
  </div>
</div>