// Place all the styles related to the bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//.hidden {
//  display:none;
//}

.padding-0 {
  padding: 0 !important;
}

.margin-top-100 {
  margin-top:50px;
}

.text-center {
  text-align: center;
}

.grey-bg-color {
  background-color: lightgrey;
}